In [10]:
import pandas as pd

### Store CSV into DataFrame

In [11]:
csv_file1 = "Resources/fundamentals.csv"
fundamentals_data_df = pd.read_csv(csv_file1)
fundamentals_data_df.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [13]:
csv_file3 = "Resources/securities.csv"
securities_data_df = pd.read_csv(csv_file3)
securities_data_df.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [16]:
securities_data_df.columns

Index(['Ticker symbol', 'Security', 'SEC filings', 'GICS Sector',
       'GICS Sub Industry', 'Address of Headquarters', 'Date first added',
       'CIK'],
      dtype='object')

In [14]:
fundamentals_data_df.columns

Index(['Unnamed: 0', 'Ticker Symbol', 'Period Ending', 'Accounts Payable',
       'Accounts Receivable', 'Add'l income/expense items', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Current Ratio', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding'],
      dtype='object')

In [15]:
dF = fundamentals_data_df[["Ticker Symbol", 
                           "Period Ending",                            
                           "Total Revenue", 
                           "Sales, General and Admin.", 
                           "Cost of Revenue",
                           "Research and Development",
                           "Earnings Before Interest and Tax",
                           "Operating Income",
                           "Net Income",   
                           "Earnings Per Share",
                           "Estimated Shares Outstanding",
                           "Total Assets",                            
                           "Total Liabilities",
                           "Total Equity" 
]]
dF

,Ticker Symbol,Period Ending,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,Total Assets,Total Liabilities,Total Equity
0,AAL,2012-12-31,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,1.480000e+08,-1.876000e+09,-5.60,3.350000e+08,2.351000e+10,2.489100e+10,-7.987000e+09
1,AAL,2013-12-31,2.674300e+10,1.291300e+10,1.101900e+10,0.0,-1.324000e+09,1.399000e+09,-1.834000e+09,-11.25,1.630222e+08,4.227800e+10,4.500900e+10,-2.731000e+09
2,AAL,2014-12-31,4.265000e+10,2.068600e+10,1.562000e+10,0.0,4.099000e+09,4.249000e+09,2.882000e+09,4.02,7.169154e+08,4.322500e+10,4.120400e+10,2.021000e+09
3,AAL,2015-12-31,4.099000e+10,2.127500e+10,1.109600e+10,0.0,5.496000e+09,6.204000e+09,7.610000e+09,11.39,6.681299e+08,4.841500e+10,4.278000e+10,5.635000e+09
4,AAP,2012-12-29,6.205003e+09,2.440721e+09,3.106967e+09,0.0,6.579150e+08,6.573150e+08,3.876700e+08,5.29,7.328355e+07,4.613814e+09,3.403120e+09,1.210694e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,ZION,2015-12-31,2.210591e+09,1.591239e+09,4.934400e+07,0.0,5.207260e+08,0.000000e+00,3.094710e+08,1.20,2.578925e+08,5.966952e+10,5.216201e+10,7.507519e+09
1777,ZTS,2013-12-31,4.561000e+09,1.613000e+09,1.669000e+09,399000000.0,8.030000e+08,7.940000e+08,5.040000e+08,1.01,4.990099e+08,6.558000e+09,5.618000e+09,9.400000e+08
1778,ZTS,2014-12-31,4.785000e+09,1.643000e+09,1.717000e+09,396000000.0,9.370000e+08,9.440000e+08,5.830000e+08,1.16,5.025862e+08,6.588000e+09,5.277000e+09,1.311000e+09
1779,ZTS,2015-12-31,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,7.500000e+08,3.390000e+08,0.68,4.985294e+08,7.913000e+09,6.845000e+09,1.068000e+09
1780,ZTS,2016-12-31,4.888000e+09,1.364000e+09,1.666000e+09,376000000.0,1.394000e+09,1.392000e+09,8.210000e+08,NaN,NaN,7.649000e+09,6.162000e+09,1.487000e+09

In [23]:
dS = securities_data_df[["Ticker symbol",
                         "Security", 
                         "GICS Sector",
                         "GICS Sub Industry"
                         ]]
dS

,Ticker symbol,Security,GICS Sector,GICS Sub Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie,Health Care,Pharmaceuticals
3,ACN,Accenture plc,Information Technology,IT Consulting & Other Services
4,ATVI,Activision Blizzard,Information Technology,Home Entertainment Software
...,...,...,...,...
500,YHOO,Yahoo Inc.,Information Technology,Internet Software & Services
501,YUM,Yum! Brands Inc,Consumer Discretionary,Restaurants
502,ZBH,Zimmer Biomet Holdings,Health Care,Health Care Equipment
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals

In [26]:
merged_df = pd.merge(dF, dS, how='left', left_on='Ticker Symbol', right_on='Ticker symbol')
merged_df.head()

,Ticker Symbol,Period Ending,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,Total Assets,Total Liabilities,Total Equity,Ticker symbol,Security,GICS Sector,GICS Sub Industry
0,AAL,2012-12-31,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,1.480000e+08,-1.876000e+09,-5.60,3.350000e+08,2.351000e+10,2.489100e+10,-7.987000e+09,AAL,American Airlines Group,Industrials,Airlines
1,AAL,2013-12-31,2.674300e+10,1.291300e+10,1.101900e+10,0.0,-1.324000e+09,1.399000e+09,-1.834000e+09,-11.25,1.630222e+08,4.227800e+10,4.500900e+10,-2.731000e+09,AAL,American Airlines Group,Industrials,Airlines
2,AAL,2014-12-31,4.265000e+10,2.068600e+10,1.562000e+10,0.0,4.099000e+09,4.249000e+09,2.882000e+09,4.02,7.169154e+08,4.322500e+10,4.120400e+10,2.021000e+09,AAL,American Airlines Group,Industrials,Airlines
3,AAL,2015-12-31,4.099000e+10,2.127500e+10,1.109600e+10,0.0,5.496000e+09,6.204000e+09,7.610000e+09,11.39,6.681299e+08,4.841500e+10,4.278000e+10,5.635000e+09,AAL,American Airlines Group,Industrials,Airlines
4,AAP,2012-12-29,6.205003e+09,2.440721e+09,3.106967e+09,0.0,6.579150e+08,6.573150e+08,3.876700e+08,5.29,7.328355e+07,4.613814e+09,3.403120e+09,1.210694e+09,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail

In [29]:
merged_df.count()

Ticker Symbol                       1781
Period Ending                       1781
Total Revenue                       1781
Sales, General and Admin.           1781
Cost of Revenue                     1781
Research and Development            1781
Earnings Before Interest and Tax    1781
Operating Income                    1781
Net Income                          1781
Earnings Per Share                  1562
Estimated Shares Outstanding        1562
Total Assets                        1781
Total Liabilities                   1781
Total Equity                        1781
Ticker symbol                       1781
Security                            1781
GICS Sector                         1781
GICS Sub Industry                   1781
dtype: int64

In [32]:
new_df = merged_df.dropna(how='any')
new_df.count()

Ticker Symbol                       1562
Period Ending                       1562
Total Revenue                       1562
Sales, General and Admin.           1562
Cost of Revenue                     1562
Research and Development            1562
Earnings Before Interest and Tax    1562
Operating Income                    1562
Net Income                          1562
Earnings Per Share                  1562
Estimated Shares Outstanding        1562
Total Assets                        1562
Total Liabilities                   1562
Total Equity                        1562
Ticker symbol                       1562
Security                            1562
GICS Sector                         1562
GICS Sub Industry                   1562
dtype: int64

In [33]:
drop_df = new_df.drop(columns=['Ticker symbol'])
drop_df

,Ticker Symbol,Period Ending,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,Total Assets,Total Liabilities,Total Equity,Security,GICS Sector,GICS Sub Industry
0,AAL,2012-12-31,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,1.480000e+08,-1.876000e+09,-5.60,3.350000e+08,2.351000e+10,2.489100e+10,-7.987000e+09,American Airlines Group,Industrials,Airlines
1,AAL,2013-12-31,2.674300e+10,1.291300e+10,1.101900e+10,0.0,-1.324000e+09,1.399000e+09,-1.834000e+09,-11.25,1.630222e+08,4.227800e+10,4.500900e+10,-2.731000e+09,American Airlines Group,Industrials,Airlines
2,AAL,2014-12-31,4.265000e+10,2.068600e+10,1.562000e+10,0.0,4.099000e+09,4.249000e+09,2.882000e+09,4.02,7.169154e+08,4.322500e+10,4.120400e+10,2.021000e+09,American Airlines Group,Industrials,Airlines
3,AAL,2015-12-31,4.099000e+10,2.127500e+10,1.109600e+10,0.0,5.496000e+09,6.204000e+09,7.610000e+09,11.39,6.681299e+08,4.841500e+10,4.278000e+10,5.635000e+09,American Airlines Group,Industrials,Airlines
4,AAP,2012-12-29,6.205003e+09,2.440721e+09,3.106967e+09,0.0,6.579150e+08,6.573150e+08,3.876700e+08,5.29,7.328355e+07,4.613814e+09,3.403120e+09,1.210694e+09,Advance Auto Parts,Consumer Discretionary,Automotive Retail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1775,ZION,2014-12-31,2.361631e+09,1.654369e+09,4.973600e+07,0.0,7.446850e+08,0.000000e+00,3.984620e+08,1.68,2.371798e+08,5.720887e+10,4.983934e+10,7.369530e+09,Zions Bancorp,Financials,Regional Banks
1776,ZION,2015-12-31,2.210591e+09,1.591239e+09,4.934400e+07,0.0,5.207260e+08,0.000000e+00,3.094710e+08,1.20,2.578925e+08,5.966952e+10,5.216201e+10,7.507519e+09,Zions Bancorp,Financials,Regional Banks
1777,ZTS,2013-12-31,4.561000e+09,1.613000e+09,1.669000e+09,399000000.0,8.030000e+08,7.940000e+08,5.040000e+08,1.01,4.990099e+08,6.558000e+09,5.618000e+09,9.400000e+08,Zoetis,Health Care,Pharmaceuticals
1778,ZTS,2014-12-31,4.785000e+09,1.643000e+09,1.717000e+09,396000000.0,9.370000e+08,9.440000e+08,5.830000e+08,1.16,5.025862e+08,6.588000e+09,5.277000e+09,1.311000e+09,Zoetis,Health Care,Pharmaceuticals
1779,ZTS,2015-12-31,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,7.500000e+08,3.390000e+08,0.68,4.985294e+08,7.913000e+09,6.845000e+09,1.068000e+09,Zoetis,Health Care,Pharmaceuticals

In [37]:
drop_df['Ticker Symbol'].nunique()

432

In [ ]:
# Connect to local database
from sqlalchemy import create_engine
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/nyse_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [38]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base
from sqlalchemy import Column, Integer, String, Float, Date

In [ ]:
class  (Base):
    __tablename__ = 'table_name'
    id = Column(Integer, primary_key=True)
    column2_name = Column(String)
    column3_name = Column(String)
    column4_name = Column(Integer)
    column5_name = Column(Date)

### Create new data with select columns