In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file1 = "../Resources/fundamentals.csv"
fundamentals_data_df = pd.read_csv(csv_file1)
fundamentals_data_df.head()

   id first_name last_name                       email  gender            car
0   1    Benetta   Cancott   bcancott0@studiopress.com  Female          Scion
1   2     Lilyan    Cherry  lcherry1@deliciousdays.com  Female       Chrysler
2   3    Ezekiel   Benasik         ebenasik2@wikia.com    Male  Mercedes-Benz
3   4    Kennedy     Atlay        katlay3@so-net.ne.jp    Male          Buick
4   5    Sanford    Salmen        ssalmen4@reuters.com    Male        Lincoln

In [ ]:
csv_file2 = "../Resources/prices.csv"
prices_data_df = pd.read_csv(csv_file2)
prices_data_df.head()

In [ ]:
csv_file3 = "../Resources/securities.csv"
securities_data_df = pd.read_csv(csv_file3)
securities_data_df.head()

### Create new data with select columns